/* styles.css */
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    text-align: center;  
    background-image: url("river_pixel.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color:rgb(38, 231, 231);
    background-attachment: fixed;
    -webkit-app-region: drag; 
}

main {
    flex: 1;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    min-height: 100vh;
}

#secondary-body {
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
    text-align:center;  
    background-image: url("river_pixel.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color:rgb(38, 231, 231);
    -webkit-app-region: drag; 
}
#start-button {
    background-color: #007bff;
    color: black;
    border: 2px solid gray;
    padding: 6px 10px;
    font-size: .75rem;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    -webkit-app-region: no-drag;
}

#start-button:hover {
    background-color: #0068d8;
    box-shadow: 0 8px 10px 0 rgba(0,0,0,0.24), 0 12px 35px 0 rgba(0,0,0,0.19);
}

#start-button:active {
    background-color: #003f7f;
}

#stop-button {
    background-color: #b60303;
    color: rgb(255, 255, 255);
    border: 2px solid gray;
    padding: 4px 4px;
    font-size: .75rem;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    -webkit-app-region: no-drag;
}
#timer {
    padding: 4px;
    width: 50%;
    border: 2px solid black;
    color: black;
    background-color:rgb(191, 224, 213);
    font-family:"copperplate", 'Times New Roman', Times, serif;
}

#sprite {
    padding: 4px;
    margin: auto;
    width: 50%;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: 2px solid black;
    color: black;
    background-color:rgb(176, 226, 209);
    font-family:"copperplate", 'Times New Roman', Times, serif;
}
.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 20px; /* Adjust height as needed */
    padding: 3px;
    background-color:gray;
    text-align:center;
    font-size: 9px;
}
/* Add styles here to customize the appearance of your app */